.tblMbk{
	margin-top: 6px;
	margin-bottom: 20px;
	margin-left:6px;
	padding-top:6px;
	width:100%;
}

.tdSecCntBK{
	padding-top: 10px;
}

.bookimgb{
   vertical-align: top;
   line-height: 18px;
	padding-left: 20px;
	padding-right: 8px;
}

.bookname:link{
   line-height: 12px;
	color: #a71834;
	text-decoration: none;
}
.bookname:visited{
   line-height: 12px;
	color: #a71834;
	text-decoration: none;
}
.bookname:hover{
	line-height: 12px;
	color: red;
	text-decoration:underline;
}

.brlh{
	line-height: 2px;
}

.tdSecTitleBK1{
	height:36px;
	background-image:url(/images/2008bktitle1.gif);
	background-position:center;
	background-repeat:no-repeat;
}

.tdSecTitleBK1 td{
	font-size:12pt;
	font-weight:bold;
	color:white;
	text-align:center;
}
.tdSecTitleBK1 a:link{
	color:black;
	font-weight:bold;
}
.tdSecTitleBK1 a:visited{
	color:black;
	font-weight:bold;
}
.tdSecTitleBK1 a:hover{
	color:white;
	font-weight:bold;
}

.tdSecTitleBK2{
	height:36px;
	background-image:url(/images/2008bktitle2.gif);
	background-position:center;
	background-repeat:no-repeat;
}

.tdSecTitleBK2 td{
	font-size:12pt;
	font-weight:bold;
	color:white;
	text-align:center;
}
.tdSecTitleBK2 a:link{
	color:black;
	font-weight:bold;
}
.tdSecTitleBK2 a:visited{
	color:black;
	font-weight:bold;
}
.tdSecTitleBK2 a:hover{
	color:white;
	font-weight:bold;
}

.tdSecTitleBK3{
	height:36px;
	background-image:url(/images/2008bktitle3.gif);
	background-position:center;
	background-repeat:no-repeat;
}

.tdSecTitleBK3 td{
	font-size:12pt;
	font-weight:bold;
	color:white;
	text-align:center;
}
.tdSecTitleBK3 a:link{
	color:black;
	font-weight:bold;
}
.tdSecTitleBK3 a:visited{
	color:black;
	font-weight:bold;
}
.tdSecTitleBK3 a:hover{
	color:white;
	font-weight:bold;
}